.index_floor_item_foot
  .van-swipe
    height 1.89075rem
    .van-swipe__track
      width max-content
      width .91rem 
      .van-swipe-item
        height 1.89075rem
        width .91rem !important
        margin-right 0.1rem 
        img 
          height 1.24575rem
          width 100%
        h3 
          width .91rem
          height .352rem
          margin-top .1024rem
          font-size .12rem
          line-height 0.18rem
          text-overflow ellipsis
          word-break: break-all
          display -webkit-box
          -webkit-box-orient vertical
          -webkit-line-clamp 2
          overflow hidden
          color #232323
          font-weight 700
        strong 
          color #ff6743
          font-size: 0.14rem
          margin-right .05rem
        span 
          font-size: .1rem
