.van-goods-action
  height .6rem
  z-index: 100
.van-button__text
  font-size: .19rem;
  font-weight: bold;
.van-goods-action-icon
  width .563rem
  font-size: .11rem
.orange-plus-tips__icon
  vertical-align: text-top
.recommend__more
  .van-icon
    padding-left: .06rem
.van-popup
  padding-bottom: 1.65rem
.van-skeleton__content
  padding-top: .243rem
.van-skeleton__title
  width 20%
  height .2rem
.van-skeleton__row
  width 100% !important
  height .442rem
  margin-top: .132rem !important
.van-loading
  position: absolute
  top 0
  right 0
  bottom: 0
  left: 0
  margin: auto
  width 0.3rem
  height 0.3rem





